@*@model HoaDon*@
@model HoaDonChiTietBSDTO


@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_QLBHLayout.cshtml";
}

<section class="ftco-section">
    <div class="container">


        <h2>Thông báo</h2>
        <h3>
            Đơn đặt hàng của bạn đã hoàn tất.<br />
            @*Hóa đơn ID: @Model.ID*@
        </h3>
        <table class="table table-bordered table-hover">
            <thead class="table-success">
                <tr>
                    <th>Số hóa đơn</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Tên hàng Hóa</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody class="border">

                @foreach (HoaDonChiTietBSDTO items in ViewBag.hoaDonCT)
                {
                    <tr>
                        <td style="border:solid">
                            @items.ID
                        </td>
                        <td>
                            @items.NgayDatHang.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @items.HoTenKhach
                        </td>
                        <td>
                            @items.TenHang
                        </td>
                        <td>
                            @items.SoLuong
                        </td>
                        <td>
                            @items.DonGia
                        </td>
                        <td>
                            @items.ThanhTien
                        </td>
                    </tr>

                }


            </tbody>
        </table>

    </div>
</section>



